{
  "postgres": {
    "host": "{{ semaphore_database_host }}",
    "name": "{{ semaphore_database_name }}",
    "user": "{{ semaphore_database_user }}",
    "pass": "{{ semaphore_database_pass }}",
    "options": {
        "sslmode": "disable"
    }
  },
  "dialect": "postgres",
  "tmp_path": "/opt/semaphore",
  "cookie_hash": "cPMHzVhySY4FrD/bD9WoB/dzdwxGAybvbHD6OQDRccI=",
  "cookie_encryption": "TO9ibTJTRfFzDku+hqMh3rwJuGKGr2jAx14XH73OXPY=",
  "access_key_encryption": "HGXvU9NEtIc3ncXX4PU8cwlQKeRro04CnJzN2thAwXQ="
}